fastapi
uvicorn
python-jose
pwdlib
pypdf
langchain-core
langchain-groq
langgraph
chromadb
numexpr
slowapi
sqlalchemy
python-dotenv
"bcrypt<4.1.0"
pypdf
duckduckgo-search
ddgs

pypdf
duckduckgo-search
ddgs
